header {
    padding: 15px;
}
body {
    background-color: rgba(0, 0, 0, 0.815);
    width: 80%;
    margin: auto;
}

h1 {
    color: rgb(0, 255, 0);
    font-family: 'Moon Dance', cursive;
    font-size: 100px;
}
h2, h3, p, a, li, dt, dd, dl, table, tr, td, th {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    color: red;
}
footer {
    color: white;
}
p {
    font-size: 105%;
}
table, th, td, tr {
    border: 1px solid white;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 7px;
}
th {
    background-color: rgb(70, 70, 70);
}
dt {
    font-weight: bold;
    font-size: 105;
}
dd {
    border-left: 10px solid rgba(0, 0, 0, 0);
}
.center {
    margin: auto;
    width: 100%;
}
.tabulka {
    background-color: rgb(100, 100, 100);
}